@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    margin: 0;
    padding: 0;
    outline: none;
    
}
body{
  font-family: "Inter", sans-serif;
}
/* common style  */

.common-btn{
   background: #1d4ed8;
   color: white;
   font-weight: 700;
   padding: 15px 35px;
   border:none;
   border-radius: 8px;
  text-decoration: none;
  color: white;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
/* nav section  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 20px 0;
}
.logo-main, .nav-btn{
    flex: 1;
}
.menu{
    flex: 3;
}

.nav-btn a{
    text-decoration: none;
    color: white;
}
.menu ul li{
    display: inline-block;
    margin: 0 15px;
}
.menu ul li a{
    text-decoration: none;
    font-family: "Arimo", sans-serif;
    color: #575757;
    font-size: 20px;
}
.menu ul{}

/* hero  */
.hero{
   background-image: url('./assets/banner.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 900px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.hero-overlay{
       background-color: rgba(0, 0, 0, 0.5); 
       height: 100%;
       width: 100%;
}
.hero-content{
    text-align: center;
    padding-top: 90px;
}
.hero-content h2{
    font-size: 100px;
    font-weight: 700;
    color: white;
    font-style: italic;
    line-height: 0;
}
.hero-content p{
    color: #fff;
    opacity: 0.9;
    font-size: 25px;
    font-weight: 400;
    padding: 0 280px;
    margin: 0;
}
.hero-btn{
    padding-top: 350px;
}
.hero-btn a{
   text-decoration: none;
   color: white;
  padding: 9px 35px;
  display: inline-block;
  font-size: 20px;
}